<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="block" (click)="startProduction()">Starte Zusammenbau</ion-button>
    <ion-toast [isOpen]="isFailureToastOpen" message="Failure Toast" [duration]="3000" (didDismiss)="display_failure_toast(false)" color="danger" position="top"></ion-toast>
    <ion-toast [isOpen]="isSuccessToastOpen" message="Success Toast" [duration]="3000" (didDismiss)="display_success_toast(false)" color="success" position="top"></ion-toast>

    <ion-grid style="height: 80%;">
      <ion-row>
        <ion-col>
          <ion-card style="height: 300px;text-align: center;">
            <ion-card-title>Montage-Anleitung</ion-card-title>
            <ion-card-content>
              <ion-grid>
                <ion-list *ngIf="isDesktop">
                  <ion-item *ngFor="let workflowstep of display_workflowsteps">
                    <ion-input type="text">Schritt {{workflowstep.step}}_{{workflowstep.partial_step}}: {{workflowstep.description_german}}</ion-input>
                    <ion-button *ngIf="workflowstep.current_active && workflowstep.product_id == -1" (click)="mark_as_done(workflowstep.step, workflowstep.partial_step)">Done</ion-button>
                    <ion-button *ngIf="workflowstep.current_active && workflowstep.product_id != -1" (click)="scan(action, 'start')">Scan</ion-button>
                  </ion-item>
                </ion-list>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card style="height: 300px;">
            <ion-grid>
              <ion-col>
                <ion-img *ngIf="image_path_before != ''" [src]='image_path_before' style="height:100px; width: 100px;"></ion-img>
              </ion-col>
              <ion-col>
                <ion-img *ngIf="image_path_after != ''" [src]='image_path_after' style="height:100px; width: 100px;"></ion-img>
              </ion-col>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ngx-scanner-qrcode style="height: 0%; width: 0%;" #action="scanner" (event)="onEvent($event, action)"></ngx-scanner-qrcode>

</ion-content>
