<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="block" (click)="startProduction()">Starte Zusammenbau</ion-button>
    <ion-toast [isOpen]="isFailureToastOpen" message="Failure Toast" [duration]="3000" (didDismiss)="display_failure_toast(false)" color="danger" position="bottom"></ion-toast>
  
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="isDesktop">
          <ion-card style="height: 300px;">
            <ngx-scanner-qrcode #action="scanner" (event)="onEvent($event, action)"></ngx-scanner-qrcode>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card style="height: 300px;text-align: center;">
            <ion-card-title>Bauanleitung</ion-card-title>
            <ion-card-content>
              <div *ngIf="first_step" id="#first_step">
                <p>Finden Sie das grüne Bauteil.</p>
                <ion-button expand="block" (click)="build_instruction(1, action, 'start')">Scannen Sie das grüne Bauteil</ion-button>
              </div>
              <div *ngIf="second_step" id="#second_step">
                <p>Finden Sie das orange Bauteil.</p>
                <ion-button expand="block" (click)="build_instruction(2, action, 'start')">Scannen Sie das orange Bauteil</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card style="height: 300px;">
            <ion-img *ngIf="image_path != ''" [src]='image_path' style="height:100%; width: 100%;"></ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
