 
  /* Container styling */
  .container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  /* Individual box styling */
  .box {
    // text-align: center; /* Center text inside the box */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }