<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="block" (click)="startProduction()">Starte Zusammenbau</ion-button>
    <ion-toast [isOpen]="isFailureToastOpen" message="Failure Toast" [duration]="3000" (didDismiss)="display_failure_toast(false)" color="danger" position="top"></ion-toast>
    <ion-toast [isOpen]="isSuccessToastOpen" message="Success Toast" [duration]="3000" (didDismiss)="display_success_toast(false)" color="success" position="top"></ion-toast>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card style="height: {{screenHeight*0.75}}px">
            <ion-card-title style="text-align: center;">Montage-Anleitung</ion-card-title>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="1.5">
                    <ion-content>
                      <ion-segment *ngIf="current_workflowstep not null" value="schritt_{{current_workflowstep.step}}" style="display : block; margin-left: -20px;">
                        <ion-segment-button *ngFor="let step of getUniqueSteps()" [value]="'schritt_' + step" (click)="show_step(step)">{{step}}</ion-segment-button>
                      </ion-segment>
                    </ion-content>
                  </ion-col>
                  <ion-col size="10.5">
                    <ion-list>
                      <ion-item *ngFor="let workflowstep of display_workflowsteps">
                        <ion-grid>
                          <ion-row>
                            <ion-col size="1">
                              <ion-icon *ngIf="workflowstep.done" name="checkbox-outline"></ion-icon>
                              <ion-icon *ngIf="!workflowstep.done" name="square-outline"></ion-icon>
                            </ion-col>
                            <ion-col size="9">
                              <ion-input *ngIf="detail_level == 'detail'" type="text">Schritt {{workflowstep.step}}_{{workflowstep.partial_step}}: {{workflowstep.description_german}}</ion-input>
                              <ion-input *ngIf="detail_level == 'short'" type="text">Schritt {{workflowstep.step}}_{{workflowstep.partial_step}}: {{workflowstep.description_german_short}}</ion-input>
                            </ion-col>
                            <ion-col size="1">
                              <ion-button *ngIf="workflowstep.current_active && workflowstep.product_id == -1" (click)="mark_as_done(workflowstep.step, workflowstep.partial_step)">Done</ion-button>
                              <ion-button *ngIf="workflowstep.current_active && workflowstep.product_id != -1 && !isDesktopScanning" (click)="scan(action, 'start')">Scan</ion-button>
                              <ion-spinner *ngIf="workflowstep.current_active && isDesktop && isDesktopScanning" name="circles"></ion-spinner>
                              <p *ngIf="workflowstep.current_active && isDesktop && isDesktopScanning">Please Scan QR Code</p>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card style="height: {{screenHeight*0.75}}px">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-input type="text">Vorher:</ion-input>
                  <ion-img *ngIf="image_path_before != ''" [src]='image_path_before' style="height:80%; width: 80%;"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-input type="text">Nachher:</ion-input>
                  <ion-img *ngIf="image_path_after != ''" [src]='image_path_after' style="height:80%; width: 80%;"></ion-img>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ngx-scanner-qrcode style="height: 0%; width: 0%;" #action="scanner" (event)="onEvent($event, action)"></ngx-scanner-qrcode>

</ion-content>
