<ion-header>
  <ion-toolbar>
    <ion-title>Barcode Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<div class="wrapper" style="height: 50%; width: 100%;">
  <div style="height: 100%; width: 50%;float:left;background: blue;">
    <ion-content>
        <!-- ngx-scanner-qrcode -->
          <ngx-scanner-qrcode style="height: 80%" #action="scanner" [config]="config" (event)="onEvent($event, action)"></ngx-scanner-qrcode>
        <!-- loading -->
        <p *ngIf="action.isLoading">⌛ Loading...</p>
    </ion-content>
  </div>
  <div style="width: 50%;float:right;background: red;">
    <ion-img
      [src]='image_path'
      style="height: 200px; width: 100px;"
    ></ion-img>
    <h1>{{image_description}}</h1>
  </div>
</div>

<ion-content>
    <ion-fab-button (click)="scan(action, action.isStart ? 'stop' : 'start')">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
    <!--
    <ion-list>
    <ion-item>
      <ion-select aria-label="camera" placeholder="Select camera">
        <ion-item *ngFor="let c of action.devices.value; let i = index" >{{c.label}}>
          <ion-select-option (click)="change_camera">{{c.label}}</ion-select-option>
        </ion-item>
      </ion-select>
    </ion-item>
  </ion-list>
-->
  <select #select1 (change)="action.playDevice(select1.value)" class="form-select form-select-md">
    <option [value]="null" selected>Select device</option>
    <option *ngFor="let c of action.devices.value; let i = index" [value]="c.deviceId" [selected]="i == action.deviceIndexActive">{{c.deviceId}}</option>
  </select>
</ion-content>

<ion-content>
  <ion-list *ngIf="isDesktop">
    <ion-item *ngFor="let scannedResult of scannedResults">
      <ion-label position="stacked">{{ scannedResult }}</ion-label>
      <ion-input type="text" [value]="scannedResult"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!isDesktop">
    <ion-item *ngFor="let barcode of barcodes">
      <ion-label position="stacked">{{ barcode.format }}</ion-label>
      <ion-input type="text" [value]="barcode.rawValue"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>